/*config*/
* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none;}
[type="radio"], [type="checkbox"] {display: none;}

/*lib*/
.btn {border: none; display: block; height: 30px; color: #fff; padding: 0 30px; border-radius: 4px; font: bold 13px; cursor: pointer; outline: none; background: #09f;}
.wrap {display: flex; justify-content: space-between; align-items: center;}

/*Header*/
header {height: 100px; padding: 0 100px; display: flex; justify-content: space-between; align-items: center;}
header a {color: #000;}

/*symbol logo*/
#site-logo a {display: flex; align-items: center; font-size: 20px; font-weight: bold;}
#site-logo img {margin-right: 20px;}

/*navigation*/
#gnb {width: 250px;}
#gnb > ul {width: 100%; display: flex; justify-content: space-between;}
#gnb li {width: 10em; text-align: center;}
#gnb li > a {font-size: 15px;}
#gnb li:hover > a {text-decoration: underline; font-weight: bold;}


/*Main-Visual*/
#visual1 {height: 600px; position: relative; display: flex; justify-content: center; align-items: center;}
#visual1:before, #visual1 > .slide {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
#visual1:before {background: rgba(0,0,0,.6); z-index: 10; display: block; content: "";}
#visual1 > .slide {opacity: 0; z-index: 5;}
#visual1 > .slide:nth-child(1) {background: url(./img/1.jpg) no-repeat center / cover; animation: slide1 10s infinite;}
#visual1 > .slide:nth-child(2) {background: url(./img/2.jpg) no-repeat center / cover; animation: slide2 10s infinite;}

@keyframes slide1 {
	100%, 0%, 45% {opacity: 1;}
	50%, 95% {opacity: 0;}
}

@keyframes slide2 {
	100%, 0%, 45% {opacity: 0;}
	50%, 95% {opacity: 1;}
}

#visual1 > .visual-text {color: #fff; position: relative; z-index: 20; text-align: center;}
#visual1 > .visual-text > h1 {font-size: 40px;}
#visual1 > .visual-text > p {font-size: 15px; width: 500px; padding: 20px 0 30px 0; letter-spacing: -1px}
#visual1 button {margin: 0 auto;}

/*Contents*/
.content {padding: 50px 100px;}
.content > h2 {text-align: center; font-size: 30px; margin-bottom: 30px;}

/*Features*/
#feature1 > .wrap {display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; width: 1200px; margin: 0 auto;}
#feature1 article {width: 30%; background: #fff; height: 300px; box-shadow: 1px 1px 3px #ccc; padding: 30px; box-sizing: border-box;}
#feature1 img {max-height: 50px;}
#feature1 h3 {font-size: 20px; padding: 20px 0 10px 0;}
#feature1 p {font-size: 13px;}
#feature1 button {margin-top: 15px;}

#feature article {width: 28%;}
#feature img {max-height: 50px;}
#feature h3 {font-size: 20px; padding: 20px 0 10px 0;}
#feature p {font-size: 13px;}
#feature button {margin-top: 15px;}

/*Gallery&Slider*/
#gallery1 > .wrap {display: flex; justify-content: space-between; height: 400px; width: 900px; margin: 0 auto;}
#gallery1 > .wrap > div {width: 400px; height: 100%; position: relative;}
#gallery1 #select-img > article {width: 100%; height: 100%; position: absolute; top: 0; left: 0; transition: .5s; opacity: 0;}
#gallery1 #select-img > article:nth-child(1) {background: url(./img/gallery1.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(2) {background: url(./img/gallery2.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(3) {background: url(./img/gallery3.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(4) {background: url(./img/gallery4.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(5) {background: url(./img/gallery5.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(6) {background: url(./img/gallery6.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(7) {background: url(./img/gallery7.jpg) no-repeat center / cover;}
#gallery1 #select-img > article:nth-child(8) {background: url(./img/gallery8.jpg) no-repeat center / cover;}
#gallery1 .gallery-text {transition: .5s; position: relative; z-index: 10; background: rgba(0,0,0,.8); opacity: 0; color: #fff; padding: 30px; box-sizing: border-box; height: 100%;}
#gallery1 .gallery-text > h3 {margin-bottom: 20px; font-size: 20px;}
#gallery1 .gallery-text > p {font-size: 17px; letter-spacing: -1px}
#gallery1 article:hover > .gallery-text {opacity: 1;}


#gallery1 #slide-btns {width: 110px; height: 50px; display: flex; justify-content: space-between; position: absolute; right: 0; bottom: 100px;}
#gallery1 #slide-btns > div {width: 50px; height: 50px; background: #333; color: #fff; text-align: center; line-height: 50px; font-size: 20px; font-weight: bold; position: relative;}
#gallery1 #slide-btns label {position: absolute; width: 100%; height: 100%; display: block; top: 0; left: 0; z-index: -1; cursor: pointer;}

#gallery1 #img-list {width: 480px; height: 80px; position: absolute; bottom: 0; right: 0;}
#gallery1 #img-list > div {display: flex; height: 100%; margin-left: -80px; transition: .5s;}
#gallery1 #img-list > div > div {height: 100%; width: 80px;}
#gallery1 #img-list > div > div:nth-child(1) {background: url(./img/gallery1.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(2) {background: url(./img/gallery2.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(3) {background: url(./img/gallery3.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(4) {background: url(./img/gallery4.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(5) {background: url(./img/gallery5.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(6) {background: url(./img/gallery6.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(7) {background: url(./img/gallery7.jpg) no-repeat center / cover;}
#gallery1 #img-list > div > div:nth-child(8) {background: url(./img/gallery8.jpg) no-repeat center / cover;}


#gallery1 #pos1:checked ~ #select-img > article:nth-child(1),
#gallery1 #pos2:checked ~ #select-img > article:nth-child(2),
#gallery1 #pos3:checked ~ #select-img > article:nth-child(3),
#gallery1 #pos4:checked ~ #select-img > article:nth-child(4),
#gallery1 #pos5:checked ~ #select-img > article:nth-child(5),
#gallery1 #pos6:checked ~ #select-img > article:nth-child(6),
#gallery1 #pos7:checked ~ #select-img > article:nth-child(7),
#gallery1 #pos8:checked ~ #select-img > article:nth-child(8) {opacity: 1; z-index: 10;}

#gallery1 #pos1:checked ~ #gallery-right .slide-next [for="pos2"],
#gallery1 #pos2:checked ~ #gallery-right .slide-prev [for="pos1"],
#gallery1 #pos2:checked ~ #gallery-right .slide-next [for="pos3"],
#gallery1 #pos3:checked ~ #gallery-right .slide-prev [for="pos2"],
#gallery1 #pos3:checked ~ #gallery-right .slide-next [for="pos4"],
#gallery1 #pos4:checked ~ #gallery-right .slide-prev [for="pos3"],
#gallery1 #pos4:checked ~ #gallery-right .slide-next [for="pos5"],
#gallery1 #pos5:checked ~ #gallery-right .slide-prev [for="pos4"],
#gallery1 #pos5:checked ~ #gallery-right .slide-next [for="pos6"],
#gallery1 #pos6:checked ~ #gallery-right .slide-prev [for="pos5"],
#gallery1 #pos6:checked ~ #gallery-right .slide-next [for="pos7"],
#gallery1 #pos7:checked ~ #gallery-right .slide-prev [for="pos6"],
#gallery1 #pos7:checked ~ #gallery-right .slide-next [for="pos8"],
#gallery1 #pos8:checked ~ #gallery-right .slide-prev [for="pos7"] {z-index: 10;}


#gallery .slide-btn {font-size: 20px; transform: scale(1.5, 3); position: relative;}
#gallery label {position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 10; cursor: pointer;}
#img-list {width: 80%; overflow: hidden;}
#img-list > div {width: 200%; display: flex; align-items: center; transition: .5s;}
#img-list article {width: 11.5%; height: 250px; position: relative;}
#img-list article:not(:nth-child(4n)) {margin-right: calc(4%/3);}
#img-list img {width: 100%; height: 100%;}
#img-list .gallery-text {position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; z-index: 10; background: rgba(0,0,0,.5); color: #fff; transition: .5s; padding: 20px; box-sizing: border-box;}
#img-list h3 {font-size: 17px; margin-bottom: 10px;}
#img-list p {font-size: 13px;}
#img-list .gallery-text:hover {opacity: 1;}

#gallery #pos1:checked ~ #img-list > div {margin-left: 0;}
#gallery #pos2:checked ~ #img-list > div {margin-left: -100%;}

#gallery2 > h2 {padding: 50px 0 30px 0; text-align: center;}
#gallery2 > .wrap {height: 600px; display: flex; flex-wrap: wrap; width: 100%;}
#gallery2 > .wrap > div {height: 100%}
#gallery2 .right {width: 30%; background: url(./img/gallery2/24.jpg) no-repeat center / cover;}
#gallery2 .left {width: 70%; height: 100%;}
#gallery2 .left > div {width: 100%; display: flex;}
#gallery2 .top {height: 60%;}
#gallery2 .bottom {height: 40%;}
#gallery2 .bottom > div {height: 100%; width: 100%;}
#gallery2 .bottom > div:nth-child(1) {background: url(./img/gallery2/28.jpg) no-repeat center / cover;}
#gallery2 .bottom > div:nth-child(2) {background: url(./img/gallery2/29.jpg) no-repeat center / cover;}
#gallery2 .bottom > div:nth-child(3) {background: url(./img/gallery2/30.jpg) no-repeat center / cover;}

/*Contacts*/
#contacts {display: flex; margin: 0 auto; width: 1000px; height: 400px; box-shadow: 1px 1px 3px #000; position: relative; z-index: 10;}
#contacts > * {height: 100%; box-sizing: border-box;}
#contacts h2 {text-align: center;}
#contact-form {width: 70%; background: #fff; padding: 30px 150px;}
#contact-form > h2 {margin-bottom: 30px;}
#contact-form input {border: none; border-bottom: 1px solid #aaa; width: 100%; line-height: 40px; margin-bottom: 20px; padding-left: 10px; font-size: 11px;}
#contact-form input, textarea {border: none; border-bottom: 1px solid #aaa; width: 100%; line-height: 40px; margin-bottom: 20px; padding-left: 10px; font-size: 11px;}
#contact-info {background: #555; width: 30%; color: #fff; padding: 30px;}
#contact-info > h2 {margin-bottom: 30px; font-weight: normal; font-size: 15px;}
#contact-info > div > div {display: flex; align-items: center; font-size: 13px; margin-bottom: 20px; height: 15px;}
#contact-info .icon {width: 40px;}
#contact-info img {transform: scale(.5); display: block; margin: 0 auto;}

/*footer*/
footer {padding: 0 100px; background: #333 ; height: 150px; display: flex; justify-content: space-between; align-items: center; color: #fff; box-sizing: border-box;}
#admin-info {font-size: 15px;}
#social {width: 120px; height: 30px; display: flex; justify-content: space-between;}
#social > li, #social a {height: 100%;}
#social img {max-height: 100%;}
#copyright {font-size: 13px;}
